.search{
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
    
}

input[type=search] {
    padding: 13px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #fff;
    outline: none;
    border: 2px solid #2ec4b6;
  }

  ::placeholder {
    color:#1de6d1;
  }