.card-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid #2ec4b6;
    border-radius: 5px;
    padding: 25px;
    margin: 10px 10px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    

}


.card-container:hover{
    transform: scale(1.05);
}
.card-para{
    margin-top: 15px;
}
.card-para h2{
    color: #064638;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: bold;
}

.card-para p{
    color: #064638;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto';
}




